*{
	margin: 0;
}
body{
	background-image: url("../images/fridge.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	font-family: 'Raleway';
	margin: 0;
}

.container{
	height: 750px;
}

.box{
	min-height: 400px;
	width: 700px;
	background-color: white;
	border: 5px solid gray;
	margin: 0 auto;
	margin-top: 4%;
}

.title{
	background-color: gray;
	text-align: center;
}
	.alert{
		background-color: rgba(255,0,0,0.5);
		padding: 15px;
		text-align: center;
		color: white;
		display: none;
	}

#entry{
	font-size: 25px;
	margin: 50px 0 0 50px;
	width: 60%;
	border: 2px solid;
	border-radius: 10px; 
}

.item-list{
	margin-top: 30px;
	list-style: none;
}

.item-list li{
	background-color: #B8B8B8;
	color: #000;
	font-size: 25px;
	font-weight: 800;
	margin-bottom: 10px;
	width: 80%;
	padding: 5px 0 5px 5px;
	cursor: pointer;
	border: 2px solid black;
}

.minus{
	float: right;
	color: red;
	margin: 0 10px 0 0;
	cursor: pointer;
}

.checkbox{
	float: left;
	margin: 5px 5px 0 0;
	width: 20px;
	height: 20px;
	cursor: pointer;

}

.strike{
	text-decoration: line-through;
}

.delete{
	display: none;
}